:root {
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: gray;
}


/* BACKGROUND */
body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
    color: #393E46;
    height: fit-content;
}

.sun {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    border-radius: 0 0 0 100%;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 0 0 100%;
    -moz-border-radius: 0 0 0 100%;
    -ms-border-radius: 0 0 0 100%;
    -o-border-radius: 0 0 0 100%;
}

.left-mountain {
    width: 30vw;
    max-width: 300px;
    min-width: 120px;
    max-height: 250px;
    height: 30vw;
    min-height: 120px;
    background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    top: 550px;
    left: 10%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.back-mountain {
    width: 30vw;
    max-width: 300px;
    min-width: 120px;
    max-height: 250px;
    height: 30vw;
    min-height: 120px;
    background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    left: 0px;
    top: 550px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.ground {
    width: 100vw;
    max-height: 300px;
    height: 30vw;
    min-height: 120px;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 100%;
    background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
    margin-top: -58px;
}


/* PINGUIN */
.penguin {
width: 300px;
height: 300px;
z-index: 4;
position: relative;
transition: transform 1s ease-in-out 0ms;
}

.penguin * {
position: absolute;
}

.penguin:active {
transform: scale(1.5);
cursor: not-allowed;
}

.penguin-head {
width: 50%;
height: 45%;
background: linear-gradient(
    45deg,
    var(--penguin-skin),
    rgb(239, 240, 228)
);
border-radius: 70% 70% 65% 65%;
top: 10%;
left: 25%;
z-index: 1;
}

.face {
width: 60%;
height: 70%;
background-color: var(--penguin-face);
border-radius: 70% 70% 60% 60%;
top: 15%;
}

.face.left {
left: 5%;
}

.face.right {
right: 5%;
}

.chin {
width: 90%;
height: 70%;
background-color: var(--penguin-face);
top: 25%;
left: 5%;
border-radius: 70% 70% 100% 100%;
}

.eye {
width: 15%;
height: 17%;
background-color: black;
top: 45%;
border-radius: 50%;
}

.eye.left {
left: 25%;
}

.eye.right {
right: 25%;
}

.eye-lid {
width: 150%;
height: 100%;
background-color: var(--penguin-face);
top: 25%;
left: -23%;
border-radius: 50%;
}

.blush {
width: 15%;
height: 10%;
background-color: pink;
top: 65%;
border-radius: 50%;
}

.blush.left {
left: 15%;
}

.blush.right {
right: 15%;
}

.beak {
height: 10%;
background-color: var(--penguin-picorna);
border-radius: 50%;
}

.beak.top {
width: 20%;
top: 60%;
left: 40%;
}

.beak.bottom {
width: 16%;
top: 65%;
left: 42%;
}

.shirt {
font: bold 20px "Oswald", sans-serif;
top: 50%;
left: 38%;
z-index: 1;
color: #6a6969;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid black;
}

.shirt div {
font-weight:  initial;
top: 22.5px;
left: 12px;
}

.penguin-body {
width: 53%;
height: 45%;
background: linear-gradient(
    45deg,
    rgb(134, 133, 133) 0%,
    rgb(234, 231, 231) 25%,
    white 67%
);
border-radius: 80% 80% 100% 100%;
top: 40%;
left: 23.5%;
}

.penguin-body::before {
content: "";
position: absolute;
width: 50%;
height: 45%;
background-color: var(--penguin-skin);
top: 10%;
left: 25%;
border-radius: 0% 0% 100% 100%;
opacity: 70%;
}

.arm {
width: 30%;
height: 60%;
background: linear-gradient(
    90deg,
    var(--penguin-skin),
    rgb(209, 210, 199)
);
border-radius: 30% 30% 30% 120%;
z-index: -1;
}

.arm.left {
top: 35%;
left: 5%;
transform-origin: top left; 
transform: rotate(130deg) scaleX(-1);
animation: 3s linear infinite wave;
}

.arm.right {
top: 0%;
right: -5%;
transform: rotate(-45deg);
}

@keyframes wave {
10% {
    transform: rotate(110deg) scaleX(-1);
}
20% {
    transform: rotate(130deg) scaleX(-1);
}
30% {
    transform: rotate(110deg) scaleX(-1);
}
40% {
    transform: rotate(130deg) scaleX(-1);
}
50% {
    transform: rotate(110deg) scaleX(-1);
}
60% {
    transform: rotate(130deg) scaleX(-1);
}
70% {
    transform: rotate(110deg) scaleX(-1);
}
80% {
    transform: rotate(130deg) scaleX(-1);
}
90% {
    transform: rotate(110deg) scaleX(-1);
}
100% {
    transform: rotate(130deg) scaleX(-1);
}
}

.foot {
width:  15%;
height: 30%;
background-color: var(--penguin-picorna);
top: 85%;
border-radius: 50%;
z-index: -1;
}

.foot.left {
left: 25%;
transform: rotate(80deg);
}

.foot.right {
right: 25%;
transform: rotate(-80deg);
}